.hero {
  overflow: hidden;
  padding: 30px 0px 20px 0px;
  @include tablet {
    padding-top: 0;
    padding-bottom: 30px;
  }
  &__wrapper {
    display: flex;
    gap: 40px;
    @include laptop-middle {
      gap: 30px;
      flex-wrap: wrap;
    }
  }
  &__reklam {
    flex: 1;
    @include laptop-middle {
      flex: none;
      width: 100%;
    }
    @include tablet {
      margin: 0;
    }
  }
  &__reklam-slider {
    @include tablet {
      margin: 0 -10px;
    }
    .slider-btn {
      &._prev {
        left: 20px;
        transform: translate(0, -50%);
      }
      &._next {
        right: 20px;
        transform: translate(0, -50%);
      }
    }
  }
  &__hit {
    display: flex;
    flex-direction: column;
    width: 480px;
    flex-shrink: 0;

    @include laptop-middle {
      width: 100%;
    }
  }
  &__hit-body {
    position: relative;
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    @media (max-width: 1680px) {
      .slider-btn {
        &._prev {
          left: -5px;
        }
        &._next {
          right: -5px;
        }
      }
    }
    @include laptop-middle {
      background-color: transparent;
      padding: 0;

      .slider-btn {
        display: none;
      }
    }
  }
  &__hit-slider {
    @include laptop-middle {
      overflow: visible !important;
    }
  }
  &__hit-slide {
    display: flex !important;
    gap: 20px;
    box-sizing: border-box;
    @include laptop-middle {
      width: 480px !important;
      padding: 20px;
      border-radius: 10px;
      background-color: white;
    }
    @include tablet {
      width: 300px !important;
      gap: 10px;
      padding: 10px;

      .tag {
        order: 0;
        margin-top: 4px;
      }
    }
  }
  &__hit-gallery {
    @include flex-center;
    flex-shrink: 0;
    width: 188px;
    aspect-ratio: 1/1;

    border: 1px solid var(--gray-2);
    border-radius: 8px;

    @include tablet {
      width: 118px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__hit-slide-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    @include tablet {
      gap: 5px;
    }
  }
  &__hit-current-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    @include tablet {
      font-size: 16px;
      line-height: 125%;
    }
  }
  &__hit-old-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-decoration: line-through;
    color: var(--gray-4);
    @include tablet {
      font-size: 13px;
      line-height: 154%;
    }
  }
  &__hit-footer {
    @include flex-between;
    gap: 10px;
    margin-top: auto;
    @include tablet {
      height: 0;
      margin: 0;
    }
  }
  &__hit-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }
    @include tablet {
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      order: 1;
    }
  }
  &__hit-btn-cart {
    @include tablet {
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 40px;
      height: 40px;
      padding: 0;

      span {
        display: none;
      }
    }
  }
  &__hit-btn-like {
    @include flex-center;
    width: 58px;
    min-height: 48px;
    transition: color 0.2s ease;
    color: transparent;

    transition: color 0.2s ease;
    @include hover {
      svg {
        stroke: var(--primary);
      }
    }
    &._active {
      color: var(--primary);
      svg {
        stroke: var(--primary);
      }
    }
    @include tablet {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 32px;
      height: 32px;
      min-height: auto;
    }

    svg {
      width: 20px;
      height: 20px;
      stroke: var(--gray-4);

      transition: stroke 0.2s ease;
    }
  }
}
