.s-brands {
  overflow: hidden;
  padding-left: 24px !important;
  @include tablet {
    padding: 10px 8px 10px 16px !important;
  }
  &__slider {
    @include desktop {
      overflow: visible !important;
    }
    .card-brand {
      @include desktop {
        width: 240px !important;
      }
      @include tablet {
        width: 120px !important;
        height: 90px !important;
      }
    }
  }
}
