.s-brands {
  overflow: hidden;
  &__slider {
    @include desktop {
      overflow: visible !important;
    }
    .card-brand {
      @include desktop {
        width: 240px !important;
      }
      @include tablet {
        width: 120px !important;
        height: 90px !important;
      }
    }
  }
}
