.s-favourites {
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 58px;
    row-gap: 40px;
    @include desktop {
      gap: 25px;
      row-gap: 40px;
    }
    @media (max-width: 1439px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      row-gap: 40px;
    }
    @include tablet-min {
      grid-template-columns: repeat(2, 1fr);
      gap: 9px;
      row-gap: 40px;
      padding: 0 10px;
    }
  }
  &__btn-more {
    margin-top: 60px !important;
    @include tablet {
      margin-top: 50px !important;
    }
    @include tablet-min {
      margin-left: auto;
      margin-right: auto;
      width: calc(100% - 20px);
    }
  }
}
