.s-news {
  overflow: hidden;
  &__btn {
    padding-left: 24px !important;
    @include tablet {
      padding: 10px 8px 10px 16px !important;
    }
  }
  &__slider {
    @include desktop {
      overflow: visible !important;
      .card-new {
        width: 370px !important;
      }
    }
    @include tablet {
      .card-new {
        width: 300px !important;
      }
    }
  }
}