:root {
  --dark-deep: #17072b;

  --primary: #671252;
  --primary-hover: #450435;

  --black: #333;

  --gray-1: #f5f5f5;
  --gray-2: #f1f1f1;
  --gray-3: #dcdcdc;
  --gray-4: #777777;

  --red: #c2131c;

  --pink: #c21397;
}
