<footer class="footer">
  <div class="bg-dark-deep text-white sect-p">
    <div class="container">
      <div class="footer__grid">
        <div class="footer__item">
          <h4 class="h4 mb-4">Компания</h4>
          <ul class="list footer__list">
            <li><a href="#">О компании</a></li>
            <li><a href="#">Магазины</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Сертификаты и лицензии</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h4 class="h4 mb-4">Покупателям</h4>
          <ul class="list footer__list">
            <li><a href="#">Сервис и поддержка</a></li>
            <li><a href="#">Оплата и доставка</a></li>
            <li><a href="#">Оптовым клиентам</a></li>
            <li><a href="#">Отзывы о компании</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h4 class="h4 mb-4">Свяжитесь с нами</h4>
          <ul class="list footer__list">
            <li><a href="tel:88005518070">8 (800) 551-80-70</a></li>
            <li><a href="mailto:shop@svetomuz.ru">shop@svetomuz.ru</a></li>
            <li>
              <button data-bs-toggle="modal" data-bs-target="#call-modal" class="btn-reset footer__btn-call text-start">
                Заказать обратный звонок
              </button>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <h4 class="h5 mb-4">Мы в социальных сетях</h4>
          <div class="footer__social">
            <a href="#" target="_blank" class="footer__social-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-vk"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="footer__social-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-yt"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="footer__social-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <div class="footer__copyright">2025 © УК "Свет и Музыка"</div>
        <ul class="list footer__bottom-list">
          <li><a href="#">Пользовательское соглашение</a></li>
          <li><a href="#">Договор оферты</a></li>
        </ul>
        <div class="footer__logo-wrapper">
          <a href="/" class="footer__logo">
            <img src="@img/logo.svg" alt="image" />
          </a>
          <ul class="list footer__bottom-list">
            <li><a href="#">Реквизиты организации</a></li>
          </ul>
        </div>
        <div class="footer__dev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-settings"></use>
          </svg>
          <span>
            Разработка сайта –
            <a href="https://xn--80adei2bu.xn--p1ai/" target="_blank">
              Вангер.рф</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="./files/bootstrap/bootstrap.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/fancybox/fancybox.min.js"></script>
