<div class="modal fade" id="connect-modal">
  <div class="modal-dialog">
    <div class="modal-content modal__body">
      <h3 class="h3">Напишите нам</h3>
      <div data-bs-dismiss="modal" class="modal__close">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </div>
      <p class="text mb-md-5 mb-3 mt-md-4 mt-2 opacity-80">
        Мы свяжемся с вами в ближайшее время и ответим на все интересующие
        вопросы.
      </p>
      <form action="#" class="modal__form">
        <div class="input-control">
          <label for="connect-name" class="label-input">Ваше имя</label>
          <input type="text" name="Имя" id="connect-name" class="input" />
        </div>
        <div class="input-control">
          <label for="connect-email-tel" class="label-input"
            >Email или Телефон для связи</label
          >
          <input
            type="text"
            name="Email или Телефон"
            id="connect-email-tel"
            class="input"
          />
        </div>
        <div class="input-control">
          <label for="connect-question" class="label-input">Ваш вопрос</label>
          <textarea rows="4" class="input"></textarea>
        </div>
        <div class="form-footer">
          <input
            type="checkbox"
            id="connect-policy"
            class="d-none form-policy-input"
          />
          <label for="connect-policy" class="form-policy-label"
            ><span
              >Подтверждаю, что согласен/согласна с
              <a href="#">политикой конфиденциальности</a></span
            ></label
          >
          <button class="btn-s">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="call-modal">
  <div class="modal-dialog">
    <div class="modal-content modal__body">
      <h3 class="h3">Заказать обратный звонок</h3>
      <div data-bs-dismiss="modal" class="modal__close">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </div>
      <p class="text mb-md-5 mb-3 mt-md-4 mt-2 opacity-80">
        Мы свяжемся с вами в ближайшее время и ответим на все интересующие
        вопросы.
      </p>
      <form action="#" class="modal__call-form">
        <div class="input-control">
          <label for="call-name" class="label-input">Ваше имя</label>
          <input
            type="text"
            name="Имя"
            id="call-name"
            placeholder="Фамилия Имя Отчество"
            class="input"
          />
        </div>
        <div class="input-control">
          <label for="call-tel" class="label-input">Телефон для связи</label>
          <input
            type="tel"
            name="Телефон"
            placeholder="+7 (---) --- ----"
            id="call-tel"
            class="input"
          />
        </div>
        <div class="form-footer">
          <input
            type="checkbox"
            id="call-policy"
            class="d-none form-policy-input"
          />
          <label for="call-policy" class="form-policy-label"
            ><span
              >Подтверждаю, что согласен/согласна с
              <a href="#">политикой конфиденциальности</a></span
            ></label
          >
          <button class="btn-s">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="brands-modal">
  <div class="modal-dialog brands">
    <div class="modal-content modal__body">
      <h3 class="h3 mb-4">Бренды</h3>
      <div data-bs-dismiss="modal" class="modal__close">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </div>
      <div class="d-flex align-items-center flex-wrap justify-content-between gap-2">
        <form action="#" class="form-search brands__form-search">
          <input type="text" placeholder="Поиск" class="input _min" />
          <button class="btn-rect">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>
        <div class="pagination mt-0 gap-0">
          <a href="#" class="pagination__btn _disabled">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
            </svg>
          </a>
          <a href="#" class="pagination__btn _active">0-9</a>
          <a href="#" class="pagination__btn">A</a>
          <a href="#" class="pagination__btn">B</a>
          <a href="#" class="pagination__btn">C</a>
          <a href="#" class="pagination__btn">D</a>
          <div class="pagination__btn">...</div>
          <a href="#" class="pagination__btn">А-Я</a>
          <a href="#" class="pagination__btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="brands__body _scrollbar">
        <div class="brands__row">
          <div class="brands__count">0-9</div>
          <div class="brands__grid">
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
          </div>
        </div>
        <div class="brands__row">
          <div class="brands__count">A</div>
          <div class="brands__grid">
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
          </div>
        </div>
        <div class="brands__row">
          <div class="brands__count">B</div>
          <div class="brands__grid">
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
          </div>
        </div>
        <div class="brands__row">
          <div class="brands__count">C</div>
          <div class="brands__grid">
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
          </div>
        </div>
        <div class="brands__row">
          <div class="brands__count">D</div>
          <div class="brands__grid">
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
            <ul class="list brands__list">
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
              <li><a href="#">0BrandName</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
