<section class="s-about sect-m">
  <div class="container">
    <div class="s-about__wrapper">
      <div
        class="d-flex align-items-center justify-content-lg-start justify-content-between gap-4"
      >
        <h2 class="h2">О компании</h2>
        <a href="#" class="btn-s _gray">
          <span class="d-md-block d-none">Перейти в раздел</span>
          <span class="d-block d-md-none">В раздел</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </a>
      </div>
      <div>
        <p class="lg-text mb-5">
          Первый магазин «Свет и Музыка» открылся в Иркутске ещё в 1997 году. В
          настоящее время наши магазины работают в 12 городах. В регионах, где
          нет собственных магазинов, работают дилеры.
        </p>
        <a href="/" class="s-about__logo">
          <img src="@img/logo.svg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</section>
