<section class="s-archive-brands sect-m">
  <div class="container">
    <div class="d-flex align-items-center gap-4 mb-4">
      <h2 class="md-h2 h4 mb-0">Бренды</h2>
      <button data-bs-toggle="modal" data-bs-target="#brands-modal" class="btn-s _gray d-md-flex d-none">
        <span>Все бренды</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
        </svg>
      </button>
    </div>
    <div class="s-archive-brands__grid">
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
      <a href="#" target="_blank" class="card-brand">
        <img src="@img/brand.jpg" alt="logo" />
      </a>
    </div>
    <button data-bs-toggle="modal" data-bs-target="#brands-modal" class="btn-s _gray d-md-none mt-4">
      <span>Все бренды</span>
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
      </svg>
    </button>
  </div>
</section>
