<section class="s-archive-reviews mt-3">
  <div class="s-archive-reviews__head">
    <div class="container">
      <h1 class="md-h1 h3 mb-md-4 mb-2">Отзывы</h1>
      <div class="s-archive-reviews__nav">
        <a href="#" class="s-archive-reviews__nav-btn">
          <img src="@img/square-icon.svg" alt="icon" />
          <span>Текстовые отзывы</span>
        </a>
        <a href="#" class="s-archive-reviews__nav-btn">
          <img src="@img/square-icon.svg" alt="icon" />
          <span>Видеоотзывы</span>
        </a>
        <a href="#" class="s-archive-reviews__nav-btn _active">
          <img src="@img/square-icon.svg" alt="icon" />
          <span>Благодарности</span>
        </a>
      </div>
    </div>
  </div>
  <div class="s-archive-reviews__body bg-gray-1">
    <div class="container">
      <div class="s-archive-reviews__grid-thanks">
        <a
          href="@img/thank.jpg"
          data-fancybox="thanks"
          class="s-archive-reviews__thank-item"
        >
          <img src="@img/thank.jpg" alt="image" />
        </a>
        <a
          href="@img/thank.jpg"
          data-fancybox="thanks"
          class="s-archive-reviews__thank-item"
        >
          <img src="@img/thank.jpg" alt="image" />
        </a>
        <a
          href="@img/thank.jpg"
          data-fancybox="thanks"
          class="s-archive-reviews__thank-item"
        >
          <img src="@img/thank.jpg" alt="image" />
        </a>
        <a
          href="@img/thank.jpg"
          data-fancybox="thanks"
          class="s-archive-reviews__thank-item"
        >
          <img src="@img/thank.jpg" alt="image" />
        </a>
        <a
          href="@img/thank.jpg"
          data-fancybox="thanks"
          class="s-archive-reviews__thank-item"
        >
          <img src="@img/thank.jpg" alt="image" />
        </a>
        <a
          href="@img/thank.jpg"
          data-fancybox="thanks"
          class="s-archive-reviews__thank-item"
        >
          <img src="@img/thank.jpg" alt="image" />
        </a>
        <a
          href="@img/thank.jpg"
          data-fancybox="thanks"
          class="s-archive-reviews__thank-item"
        >
          <img src="@img/thank.jpg" alt="image" />
        </a>
        <a
          href="@img/thank.jpg"
          data-fancybox="thanks"
          class="s-archive-reviews__thank-item"
        >
          <img src="@img/thank.jpg" alt="image" />
        </a>
      </div>
      <button class="btn-more mx-auto">Загрузить ещё</button>
      <div class="pagination">
        <a href="#" class="pagination__btn _disabled">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </a>
        <a href="#" class="pagination__btn _active">1</a>
        <a href="#" class="pagination__btn">2</a>
        <a href="#" class="pagination__btn">3</a>
        <a href="#" class="pagination__btn">4</a>
        <a href="#" class="pagination__btn">5</a>
        <div class="pagination__btn">...</div>
        <a href="#" class="pagination__btn">32</a>
        <a href="#" class="pagination__btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
