<section class="s-archive-news mt-20">
  <div class="container">
    <h1 class="md-h1 h3 mb-4">Новости и акции</h1>
    <div class="s-archive-news__grid">
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__date mt-4">07 сентября 2023</div>
        <h5 class="card-new__title mt-4">
          Поставки оборудования в самые удаленные уголки России
        </h5>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__date mt-4">07 сентября 2023</div>
        <h5 class="card-new__title mt-4">
          Поставки оборудования в самые удаленные уголки России
        </h5>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__date mt-4">07 сентября 2023</div>
        <h5 class="card-new__title mt-4">
          Поставки оборудования в самые удаленные уголки России
        </h5>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__date mt-4">07 сентября 2023</div>
        <h5 class="card-new__title mt-4">
          Поставки оборудования в самые удаленные уголки России
        </h5>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__date mt-4">07 сентября 2023</div>
        <h5 class="card-new__title mt-4">
          Поставки оборудования в самые удаленные уголки России
        </h5>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__date mt-4">07 сентября 2023</div>
        <h5 class="card-new__title mt-4">
          Поставки оборудования в самые удаленные уголки России
        </h5>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__date mt-4">07 сентября 2023</div>
        <h5 class="card-new__title mt-4">
          Поставки оборудования в самые удаленные уголки России
        </h5>
      </a>
      <a href="#" class="card-new">
        <div class="card-new__gallery">
          <img src="@img/new.jpg" alt="image" />
        </div>
        <div class="card-new__date mt-4">07 сентября 2023</div>
        <h5 class="card-new__title mt-4">
          Поставки оборудования в самые удаленные уголки России
        </h5>
      </a>
    </div>
    <button class="btn-more mx-auto">Загрузить ещё</button>
    <div class="pagination">
      <a href="#" class="pagination__btn _disabled">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
        </svg>
      </a>
      <a href="#" class="pagination__btn _active">1</a>
      <a href="#" class="pagination__btn">2</a>
      <a href="#" class="pagination__btn">3</a>
      <a href="#" class="pagination__btn">4</a>
      <a href="#" class="pagination__btn">5</a>
      <div class="pagination__btn">...</div>
      <a href="#" class="pagination__btn">32</a>
      <a href="#" class="pagination__btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
