<section class="s-catalog sect-m mt-4">
  <div class="container">
    <h1 class="md-h1 h3 mb-4">Каталог</h1>
    <div class="s-catalog__grid">
      <a href="#" class="card-category">
        <img
          src="@img/catalog-category.jpg"
          alt="image"
          class="card-category__img"
        />
        <div class="card-category__title">Звук</div>
      </a>
      <a href="#" class="card-category">
        <img
          src="@img/catalog-category.jpg"
          alt="image"
          class="card-category__img"
        />
        <div class="card-category__title">Музыкальные инструменты</div>
      </a>
      <a href="#" class="card-category">
        <img
          src="@img/catalog-category.jpg"
          alt="image"
          class="card-category__img"
        />
        <div class="card-category__title">Звук</div>
      </a>
      <a href="#" class="card-category">
        <img
          src="@img/catalog-category.jpg"
          alt="image"
          class="card-category__img"
        />
        <div class="card-category__title">Музыкальные инструменты</div>
      </a>
      <a href="#" class="card-category">
        <img
          src="@img/catalog-category.jpg"
          alt="image"
          class="card-category__img"
        />
        <div class="card-category__title">Звук</div>
      </a>
      <a href="#" class="card-category">
        <img
          src="@img/catalog-category.jpg"
          alt="image"
          class="card-category__img"
        />
        <div class="card-category__title">Музыкальные инструменты</div>
      </a>
      <a href="#" class="card-category">
        <img
          src="@img/catalog-category.jpg"
          alt="image"
          class="card-category__img"
        />
        <div class="card-category__title">Звук</div>
      </a>
      <a href="#" class="card-category">
        <img
          src="@img/catalog-category.jpg"
          alt="image"
          class="card-category__img"
        />
        <div class="card-category__title">Музыкальные инструменты</div>
      </a>
    </div>
  </div>
</section>
