<section class="s-centers sect-m">
  <div class="container">
    <h2 class="md-h2 h4 mb-md-4 mb-3">Сервисные центры «Свет и Музыка»</h2>
    <div class="s-centers__items">
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-center flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Иркутск</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              664510, Иркутская обл., Иркутский р-н, п. Дзержинск, ул.
              Ушаковская, дом № 3, корпус «А»
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@asiamusic.ru">info@asiamusic.ru</a>
        </div>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-center flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Новосибирск</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              630091, г. Новосибирск, ул. Советская, 58
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:iservicensk@asiamusic.ru">servicensk@asiamusic.ru</a>
        </div>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-center flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Новосибирск</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              630091, г. Новосибирск, ул. Советская, 58
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail"></div>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-center flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Иркутск</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              664510, Иркутская обл., Иркутский р-н, п. Дзержинск, ул.
              Ушаковская, дом № 3, корпус «А»
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@asiamusic.ru">info@asiamusic.ru</a>
        </div>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-center flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Новосибирск</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              630091, г. Новосибирск, ул. Советская, 58
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:iservicensk@asiamusic.ru">servicensk@asiamusic.ru</a>
        </div>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-center flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Новосибирск</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              630091, г. Новосибирск, ул. Советская, 58
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail"></div>
      </div>
    </div>
    <p class="text-md sm-text text-center s-centers__content">
      Если в вашем городе нет нашего сервисного центра, мы всегда готовы
      обсудить транспортировку вашего оборудования до ближайшего сервисного
      центра. Оставьте заявку и наши менеджеры свяжутся с вами в ближайшее время
    </p>
    <button data-bs-target="#connect-modal" data-bs-toggle="modal" class="btn-s mx-auto mt-3">Оставить заявку</button>
  </div>
</section>
