<section class="sect-m mt-2 s-help">
  <div class="container">
    <h1 class="md-h1 h3">Сервис и поддержка</h1>
    <div class="s-help__grid">
      <div class="s-help__item">
        <img src="@img/sound.svg" alt="icon" class="s-help__icon" />
        <div class="s-help__item-title">
          Ремонт <br />
          светового оборудования
        </div>
        <ul class="list s-help__list">
          <li>
            <div>
              <span data-spoller-btn>Интеллектуальных световых приборов</span>
              <span>приборов движения, сканеров, центральных эффектов</span>
            </div>
          </li>
          <li>
            <div>
              <span data-spoller-btn>Театральных световых приборов</span>
              <span
                >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span
              >
            </div>
          </li>
          <li>
            <div>
              <span data-spoller-btn>Световых приборов</span>
              <span
                >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span
              >
            </div>
          </li>
          <li>
            <div>
              <span data-spoller-btn>Систем управления световым оборудованием</span>
              <span
                >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span
              >
            </div>
          </li>
          <li>
            <div><span>LED-экранов</span></div>
          </li>
        </ul>
      </div>
      <div class="s-help__item">
        <img src="@img/sound.svg" alt="icon" class="s-help__icon" />
        <div class="s-help__item-title">
          Ремонт звукового <br />
          и трансляционного оборудования
        </div>
        <ul class="list s-help__list">
          <li>
            <div>
              <span data-spoller-btn>Приборов обработки звука</span>
              <span
                >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span
              >
            </div>
          </li>
          <li>
            <div>
              <span>Проигрывателей и рекордеров</span>
            </div>
          </li>
          <li>
            <div>
              <span>Аудио-видео оборудования</span>
            </div>
          </li>
          <li>
            <div>
              <span>Усилителей мощности</span>
            </div>
          </li>
          <li>
            <div>
              <span data-spoller-btn>Акустических систем</span>
              <span
                >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span
              >
            </div>
          </li>
          <li>
            <div>
              <span data-spoller-btn>Микшерных пультов</span>
              <span
                >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span
              >
            </div>
          </li>
          <li>
            <div>
              <span data-spoller-btn>Микрофонов</span>
              <span
                >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="s-help__item">
        <img src="@img/sound.svg" alt="icon" class="s-help__icon" />
        <div class="s-help__item-title">
          Ремонт <br />
          музыкальных инструментов
        </div>
        <ul class="list s-help__list">
          <li>
            <div><span>Гитар и гитарного оборудования</span></div>
          </li>
          <li>
            <div><span>Скрипок, виолончелей и контрабасов</span></div>
          </li>
          <li>
            <div><span>Синтезаторов и цифровых фортепиано</span></div>
          </li>
          <li>
            <div><span>Электронных инструментов</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
