<section class="s-auth">
  <div class="container">
    <div class="s-auth__wrapper">
      <div class="s-auth__body pt-md-4 pt-3">
        <h1 class="h3 mb-2">Вход в личный кабинет </h1>
        <div class="d-flex align-items-center flex-wrap gap-2 sm-text">
          <p class="mb-0">Ещё не зарегистрированы?</p>
          <a href="#">Зарегистрироваться</a>
        </div>
        <form class="s-auth__form">
          <div class="input-control mb-md-3 mb-2 w-full">
            <label for="auth-email-tel" class="label-input">Email или Телефон</label>
            <input
              type="text"
              id="auth-email-tel"
              class="input"
            />
          </div>
          <div class="input-control mb-md-3 mb-2 w-full">
            <label for="auth-password" class="label-input">Пароль</label>
            <div class="input-wrapper">
              <input type="password" id="auth-password" class="input" />
              <div class="password-btn">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-eye"></use>
                </svg>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-eye-slash"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="sm-text mt-md-3 mt-2 mb-md-3 mb-4"><a href="#">Забыли пароль?</a></div>
          <button type="submit" class="btn-s ms-auto">Войти</button>
        </form>
      </div>
      <img src="@img/auth.png" alt="" class="s-auth__img">
    </div>
  </div>
</section>
