<section class="s-news sect-m">
  <div class="container">
    <div
      class="d-flex align-items-center justify-content-lg-start justify-content-between gap-4 mb-4"
    >
      <h2 class="md-h2 h4">Новости</h2>
      <a href="#" class="btn-s _gray s-news__btn">
        <span>Все новости</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
        </svg>
      </a>
    </div>
    <div class="position-relative">
      <div class="slider-btn _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
        </svg>
      </div>
      <div class="slider-btn _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
        </svg>
      </div>
      <div class="swiper s-news__slider">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img src="@img/new.jpg" alt="image" />
            </div>
            <div class="card-new__date mt-4">07 сентября 2023</div>
            <h5 class="card-new__title mt-4">
              Поставки оборудования в самые удаленные уголки России
            </h5>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img src="@img/new.jpg" alt="image" />
            </div>
            <div class="card-new__date mt-4">07 сентября 2023</div>
            <h5 class="card-new__title mt-4">
              Поставки оборудования в самые удаленные уголки России
            </h5>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img src="@img/new.jpg" alt="image" />
            </div>
            <div class="card-new__date mt-4">07 сентября 2023</div>
            <h5 class="card-new__title mt-4">
              Поставки оборудования в самые удаленные уголки России
            </h5>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img src="@img/new.jpg" alt="image" />
            </div>
            <div class="card-new__date mt-4">07 сентября 2023</div>
            <h5 class="card-new__title mt-4">
              Поставки оборудования в самые удаленные уголки России
            </h5>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img src="@img/new.jpg" alt="image" />
            </div>
            <div class="card-new__date mt-4">07 сентября 2023</div>
            <h5 class="card-new__title mt-4">
              Поставки оборудования в самые удаленные уголки России
            </h5>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img src="@img/new.jpg" alt="image" />
            </div>
            <div class="card-new__date mt-4">07 сентября 2023</div>
            <h5 class="card-new__title mt-4">
              Поставки оборудования в самые удаленные уголки России
            </h5>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img src="@img/new.jpg" alt="image" />
            </div>
            <div class="card-new__date mt-4">07 сентября 2023</div>
            <h5 class="card-new__title mt-4">
              Поставки оборудования в самые удаленные уголки России
            </h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
