<section class="s-office sect-m">
  <div class="container">
    <h2 class="md-h2 h4 mb-md-4 mb-3">Наш офис</h2>
    <div class="s-office__wrapper">
      <div class="s-office__body">
        <h3 class="md-h3 h4 mb-3">г. Иркутск</h3>
        <p class="lg-text-md text mb-0">п. Дзержинск ул. Ушаковская, 3А</p>
        <ul class="list s-office__list">
          <li class="s-office__item">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-tel'></use>
            </svg>
            <a href="tel:88005518070">8 (800) 551-80-70</a>
          </li>
          <li class="s-office__item _primary">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-mail'></use>
            </svg>
            <a href="mailto:shop@svetomuz.ru">shop@svetomuz.ru</a>
          </li>
        </ul>
      </div>
      <div class="s-office__map" data-center="[52.279732071895005,104.37963649999999]" data-zoom="17" id="office-map"></div>
    </div>
  </div>
</section>