<section class="sect-m mt-0 s-product">
  <div class="container">
    <div class="breadcrumbs">
      <a href="#">Главная</a>
      <a href="#">Каталог</a>
      <a href="#">Категория</a>
      <a href="#">Подкатегория + название бренда</a>
      <span>Название товара</span>
    </div>
    <div class="s-product__body">
      <div class="s-product__wrapper">
        <div class="s-product__gallery">
          <div class="s-product__wrapper-thumb">
            <div class="slider-btn _prev">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
              </svg>
            </div>
            <div class="slider-btn _next">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
            <div class="swiper s-product__thumb-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide s-product__thumb-slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
                <div class="swiper-slide s-product__thumb-slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
                <div class="swiper-slide s-product__thumb-slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
                <div class="swiper-slide s-product__thumb-slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
                <div class="swiper-slide s-product__thumb-slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
                <div class="swiper-slide s-product__thumb-slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper s-product__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide s-product__slide">
                <img src="@img/product-big.jpg" alt="image" />
              </div>
              <div class="swiper-slide s-product__slide">
                <img src="@img/product-big.jpg" alt="image" />
              </div>
              <div class="swiper-slide s-product__slide">
                <img src="@img/product-big.jpg" alt="image" />
              </div>
              <div class="swiper-slide s-product__slide">
                <img src="@img/product-big.jpg" alt="image" />
              </div>
              <div class="swiper-slide s-product__slide">
                <img src="@img/product-big.jpg" alt="image" />
              </div>
              <div class="swiper-slide s-product__slide">
                <img src="@img/product-big.jpg" alt="image" />
              </div>
            </div>
          </div>
        </div>
        <div class="s-product__main">
          <div class="tag mb-4">Акция!</div>
          <h1 class="md-h2 h3 mb-2">Название товара</h1>
          <p class="text-md sm-text">
            Рояль открывает модельный ряд. Несмотря на свою компактность,
            инструмент поражает своими звуковыми характеристиками. Он вобрал в
            себя лучшие черты от более старших моделей: производится калибровка
            веса срабатывания клавиатуры при помощи свинцевания; на фабрике
            выполняется первичная и вторичная интонировки; клавиатурная крышка
            оснащена технологией «мягкого падения». Рояль прекрасно подойдет для
            профессиональных занятий дома.
          </p>
          <a
            href="#"
            class="text-md sm-text mt-2 s-product__btn-more text-primary"
            >Подробнее</a
          >
          <a href="#" class="s-product__brand"
            ><img src="@img/single-brand.jpg" alt="brand"
          /></a>
        </div>
      </div>
      <div class="s-product__nav">
        <div class="text-md sm-text mb-2 text-gray-4">Цена товара</div>
        <div class="d-flex align-items-center gap-2">
          <div class="s-product__price">607 000 ₽</div>
          <div class="s-product__old-price">650 000</div>
        </div>
        <form action="#" class="s-porduct__form mt-3">
          <div class="input-control-counter">
            <div class="input-counter _minus _disable"></div>
            <input type="number" value="1" min="1" class="input-simple">
            <div class="input-counter _plus"></div>
          </div>
          <button class="btn-s w-full mt-3">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-cart'></use>
            </svg>
            <span>В корзину</span>
          </button>
          <button class="btn-simple w-full mt-2 s-product__btn-like">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-heart'></use>
            </svg>
            <span>В избранное</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
