<section class="sect-m mt-0 s-product">
  <div class="container">
    <div class="breadcrumbs">
      <a href="#">Главная</a>
      <a href="#">Каталог</a>
      <a href="#">Категория</a>
      <a href="#">Подкатегория + название бренда</a>
      <span>Название товара</span>
    </div>
    <div class="s-product__body">
      <div class="s-product__col">
        <div class="s-product__wrapper">
          <div class="s-product__gallery">
            <div class="s-product__wrapper-thumb">
              <div class="slider-btn _prev">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
                </svg>
              </div>
              <div class="slider-btn _next">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
              <div class="swiper s-product__thumb-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide s-product__thumb-slide">
                    <img src="@img/product-big.jpg" alt="image" />
                  </div>
                  <div class="swiper-slide s-product__thumb-slide">
                    <img src="@img/product-big.jpg" alt="image" />
                  </div>
                  <div class="swiper-slide s-product__thumb-slide">
                    <img src="@img/product-big.jpg" alt="image" />
                  </div>
                  <div class="swiper-slide s-product__thumb-slide">
                    <img src="@img/product-big.jpg" alt="image" />
                  </div>
                  <div class="swiper-slide s-product__thumb-slide">
                    <img src="@img/product-big.jpg" alt="image" />
                  </div>
                  <div class="swiper-slide s-product__thumb-slide">
                    <img src="@img/product-big.jpg" alt="image" />
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper s-product__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide s-product__slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
                <div class="swiper-slide s-product__slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
                <div class="swiper-slide s-product__slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
                <div class="swiper-slide s-product__slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
                <div class="swiper-slide s-product__slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
                <div class="swiper-slide s-product__slide">
                  <img src="@img/product-big.jpg" alt="image" />
                </div>
              </div>
              <div class="slider-pagination"></div>
            </div>
          </div>
          <div class="s-product__main">
            <div
              class="d-flex align-items-center justify-content-between mb-md-4 mb-2"
            >
              <div class="tag">Акция!</div>
              <button class="btn-reset s-product__main-like">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </button>
            </div>
            <h1 class="md-h2 h3 mb-2">Название товара</h1>
            <div class="text-md sm-text">
              <p>
                Рояль открывает модельный ряд. Несмотря на свою компактность,
                инструмент поражает своими звуковыми характеристиками. Он вобрал
                в себя лучшие черты от более старших моделей: производится
                калибровка веса срабатывания клавиатуры при помощи свинцевания;
                на фабрике выполняется первичная и вторичная интонировки;
                клавиатурная крышка оснащена технологией «мягкого падения».
                Рояль прекрасно подойдет для профессиональных занятий дома.
              </p>
              <p>
                2 Рояль открывает модельный ряд. Несмотря на свою компактность,
                инструмент поражает своими звуковыми характеристиками. Он вобрал
                в себя лучшие черты от более старших моделей: производится
                калибровка веса срабатывания клавиатуры при помощи свинцевания;
                на фабрике выполняется первичная и вторичная интонировки;
                клавиатурная крышка оснащена технологией «мягкого падения».
                Рояль прекрасно подойдет для профессиональных занятий дома.
              </p>
              <div
                class="text-md sm-text mt-2 s-product__btn-more text-primary toggle-text cursor-pointer w-fit"
              >
                Подробнее
              </div>
            </div>
            <a href="#" class="s-product__brand"
              ><img src="@img/single-brand.jpg" alt="brand"
            /></a>
          </div>
          <div class="s-product__anchors">
            <a href="#tab-1" class="btn-s _gray">Описание</a>
            <a href="#tab-2" class="btn-s _gray">Характеристики</a>
          </div>
        </div>
        <div class="s-product__tabs tabs">
          <div class="d-md-flex d-none gap-1 flex-wrap mb-5">
            <button data-tab-btn="tab-1" class="btn-s _gray _min _active">
              Описание товара
            </button>
            <button data-tab-btn="tab-2" class="btn-s _gray _min">
              Технические характеристики
            </button>
          </div>
          <div data-tab="tab-1" class="_active" id="tab-1">
            <h4 class="d-md-none s-product__tab-title mb-3">Описание товара</h4>
            <div class="text-md sm-text" id="product-descr">
              <p>
                Высококачественное звуковое оборудование Ямаха уже давно
                считается эталоном профессиональной техники. Более чем столетняя
                история существования, а также японское происхождение данного
                бренда говорят сами за себя, не нуждаясь в дополнительном
                представлении. Продукция этой компании рассчитана на
                профессиональное применение, способна удовлетворить требования
                даже самых взыскательных пользователей.
              </p>
              <p>
                В интернет-магазине «Свет и Музыка» представлен богатый
                ассортимент звукового оборудования Yamaha по привлекательным
                ценам. Среди наиболее востребованных в профессиональных кругах
                наименований — модели:
              </p>
              <ul>
                <li>микрофонов;</li>
                <li>наушников;</li>
                <li>микшерных пультов.</li>
              </ul>
              <p>
                Каждая модель отличается определенными преимуществами,
                специфическими функциями. Например, микшеры Ямаха выпускаются
                несколькими сериями: одни подходят для работы на небольших
                концертах, другие рассчитаны на крупномасштабные мероприятия,
                третьи оптимально проявляют свою функциональность в студийных
                условиях.
              </p>
              <p>
                Если из-за такого разнообразия заказчику будет сложно сделать
                выбор в пользу наиболее подходящего варианта, всегда можно
                прибегнуть к помощи квалифицированных консультантов нашего
                магазина. Они предоставят помощь, дадут развернутую
                характеристику каждому изделию, окажут поддержку в наладке,
                подключении, эксплуатации приобретенного оборудования.
              </p>
            </div>
            <div
              class="text-md sm-text mt-3 s-product__btn-more text-primary cursor-pointer w-fit d-md-none"
              id="product-descr-more"
            >
              Читать далее
            </div>
          </div>
          <div data-tab="tab-2" id="tab-2">
            <div class="s-product__specifications">
              <h4 class="d-md-none s-product__tab-title mb-3">
                Характеристики
              </h4>
              <h5 class="s-product__specifications-title">
                Заголовок подгруппы
              </h5>
              <div class="s-product__specifications-row">
                <span class="text-gray-4">Серия</span>
                <div></div>
                <span>Малый кабинетный</span>
              </div>
              <div class="s-product__specifications-row">
                <span class="text-gray-4">Декоративная отделка: </span>
                <div></div>
                <span>Черный, Белый</span>
              </div>
              <h5 class="s-product__specifications-title">
                Заголовок подгруппы
              </h5>
              <div class="s-product__specifications-row">
                <span class="text-gray-4">Технология</span>
                <div></div>
                <span>Клап оснащен доводчиком</span>
              </div>
              <div class="s-product__specifications-row">
                <span class="text-gray-4">Струны: </span>
                <div></div>
                <span>Roslau (Германия)</span>
              </div>
              <div class="s-product__specifications-row">
                <span class="text-gray-4">Технология</span>
                <div></div>
                <span>Клап оснащен доводчиком</span>
              </div>
              <div class="s-product__specifications-row">
                <span class="text-gray-4">Струны: </span>
                <div></div>
                <span>Roslau (Германия)</span>
              </div>
              <div class="s-product__specifications-row">
                <span class="text-gray-4">Технология</span>
                <div></div>
                <span>Клап оснащен доводчиком</span>
              </div>
              <div class="s-product__specifications-row">
                <span class="text-gray-4">Струны: </span>
                <div></div>
                <span>Roslau (Германия)</span>
              </div>
              <div class="s-product__specifications-row">
                <span class="text-gray-4">Технология</span>
                <div></div>
                <span>Клап оснащен доводчиком</span>
              </div>
              <div class="s-product__specifications-row">
                <span class="text-gray-4">Струны: </span>
                <div></div>
                <span>Roslau (Германия)</span>
              </div>
              <div
                class="text-md sm-text mt-3 s-product__btn-more text-primary cursor-pointer w-fit d-md-none"
                id="product-specifications-more"
              >
                Читать далее
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-da=".s-product__col, 1199, 1" class="s-product__nav">
        <div class="s-product__nav-body">
          <div class="text-md sm-text mb-2 text-gray-4">Цена товара</div>
          <div class="d-flex align-items-center gap-2">
            <div class="s-product__price">607 000 ₽</div>
            <div class="s-product__old-price">650 000</div>
          </div>
          <form action="#" class="s-porduct__form mt-3">
            <div class="input-control-counter">
              <div class="input-counter _minus _disable"></div>
              <input type="number" value="1" min="1" class="input-simple" />
              <div class="input-counter _plus"></div>
            </div>
            <button class="btn-s w-full mt-3">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-cart"></use>
              </svg>
              <span>В корзину</span>
            </button>
            <button class="btn-simple w-full mt-2 s-product__btn-like">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-heart"></use>
              </svg>
              <span>В избранное</span>
            </button>
          </form>
        </div>
        <div
          data-bs-target="#connect-modal"
          data-bs-toggle="modal"
          class="s-product__nav-body s-product__nav-consult mt-2"
        >
          <button class="btn-simple _primary w-full">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-question"></use>
            </svg>
            <span>Получить консультацию</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
