<section class="s-shops pb-5 pt-md-3 pt-4">
  <div class="container">
    <h1 class="md-h1 h3 mb-4">Магазины</h1>
  </div>
  <div
    class="s-shops__map"
    id="map"
    data-centers="[[52.279732071895005,104.37963649999999],[54.71000106996222,20.568832999999984],[55.04865281259757,82.90409646554562]]"
    data-zoom="4"
  ></div>
  <div class="container">
    <div class="s-shops__items pt-3">
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-start flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Иркутск</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              п. Дзержинск ул. Ушаковская, 3А
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@asiamusic.ru">info@asiamusic.ru</a>
        </div>
        <a
          href="#"
          target="_blank"
          class="location-item__location-btn d-md-flex d-none"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
        </a>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-start flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Москва</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              ул. Краснопрудная, д. 11.
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@asiamusic.ru">info@asiamusic.ru</a>
        </div>
        <a
          href="#"
          target="_blank"
          class="location-item__location-btn d-md-flex d-none"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
        </a>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-start flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Иркутск</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              п. Дзержинск ул. Ушаковская, 3А
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@asiamusic.ru">info@asiamusic.ru</a>
        </div>
        <a
          href="#"
          target="_blank"
          class="location-item__location-btn d-md-flex d-none"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
        </a>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-start flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Москва</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              ул. Краснопрудная, д. 11.
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@asiamusic.ru">info@asiamusic.ru</a>
        </div>
        <a
          href="#"
          target="_blank"
          class="location-item__location-btn d-md-flex d-none"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
        </a>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-start flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Иркутск</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              п. Дзержинск ул. Ушаковская, 3А
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@asiamusic.ru">info@asiamusic.ru</a>
        </div>
        <a
          href="#"
          target="_blank"
          class="location-item__location-btn d-md-flex d-none"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
        </a>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-start flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Москва</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              ул. Краснопрудная, д. 11.
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@asiamusic.ru">info@asiamusic.ru</a>
        </div>
        <a
          href="#"
          target="_blank"
          class="location-item__location-btn d-md-flex d-none"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
        </a>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-start flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Иркутск</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              п. Дзержинск ул. Ушаковская, 3А
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@asiamusic.ru">info@asiamusic.ru</a>
        </div>
        <a
          href="#"
          target="_blank"
          class="location-item__location-btn d-md-flex d-none"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
        </a>
      </div>
      <div class="location-item">
        <div class="location-item__main">
          <a
            href="#"
            target="_blank"
            class="location-item__location-btn d-flex d-md-none"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </a>
          <div
            class="d-flex align-items-start flex-wrap gap-3 row-gap-1 w-full"
          >
            <div class="text location-item__city">
              <strong>г. Москва</strong>
            </div>
            <div class="text-md sm-text location-item__street">
              ул. Краснопрудная, д. 11.
            </div>
          </div>
        </div>
        <div class="location-item__tel">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
            <a href="tel:+73952707838">+7 (3952) 707-838</a>
          </div>
        </div>
        <div class="location-item__mail">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@asiamusic.ru">info@asiamusic.ru</a>
        </div>
        <a
          href="#"
          target="_blank"
          class="location-item__location-btn d-md-flex d-none"
        >
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="text-md sm-text text-center mt-5">Если в вашем городе нет нашего магазина, вы всегда можете оформить заказ с доставкой</div>
  </div>
</section>
