.btn-reset {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-s {
  @include flex-center;
  gap: 16px;
  border-radius: 8px;
  padding: 13px 19px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  outline: none;
  width: fit-content;

  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: white;

  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    border-color 0.2s ease;

  @include hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
  }
  @include pressed {
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
  }
  @include tablet {
    padding: 8px 15px;
  }

  &._white {
    background-color: white;
    color: var(--black);
    border-color: white;

    @include hover {
      background-color: var(--primary);
      color: white;
      border-color: var(--primary);
    }
    @include pressed {
      background-color: var(--primary-hover);
      border-color: var(--primary-hover);
    }
  }
  &._gray {
    background-color: var(--gray-2);
    color: var(--black);
    border-color: var(--gray-2);
    @include hover {
      background-color: var(--primary-hover);
      color: white;
      border-color: var(--primary-hover);
    }
    @include pressed {
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }

  &._outline {
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
    @include hover {
      background-color: var(--primary-hover);
      border-color: var(--primary-hover);
      color: white;
    }
    @include pressed {
      background-color: var(--primary);
      color: white;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.btn-rect {
  @include flex-center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--primary);
  background-color: var(--primary);

  color: white;

  transition:
    color 0.2s ease,
    border-color 0.2s ease,
    background-color 0.2s ease;

  @include hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
  }
  @include pressed {
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
  }

  @include tablet {
    width: 32px;
    height: 32px;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}
