.card-product {
  position: relative;
  display: flex !important;
  flex-direction: column;
  height: auto !important;
  &__gallery {
    @include flex-center;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    padding-top: 34px;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }
    @include tablet {
      order: 1;
      padding-top: 0;
    }

    .tag {
      position: absolute;
      top: 0;
      left: 0;
      @include tablet {
        top: 7px;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }
    @include tablet {
      order: 3;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      margin: auto 0px 0px 0px;
    }
  }
  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    @include tablet {
      font-size: 16px;
      line-height: 125%;
    }
  }
  &__old-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-decoration: line-through;
    color: var(--gray-4);
    @include tablet {
      font-size: 13px;
      line-height: 154%;
    }
  }
  &__cart-btn {
    @include tablet {
      width: 100%;
      border-radius: 4px !important;
    }
  }
  &__btn-like {
    @include flex-center;
    width: 60px;
    min-height: 48px;
    color: transparent;

    transition: color 0.2s ease;
    @include hover {
      svg {
        stroke: var(--primary);
      }
    }
    &._active {
      color: var(--primary);
      svg {
        stroke: var(--primary);
      }
    }
    &._active-pink {
      color: var(--pink);
      svg {
        stroke: var(--pink);
      }
    }
    @include tablet {
      position: absolute;
      top: 5px;
      right: 8px;
      width: 32px;
      height: 32px;
      min-height: auto;
      z-index: 10;
    }

    svg {
      width: 20px;
      height: 20px;
      stroke: var(--gray-4);
      transition: stroke 0.2s ease;
    }
  }
}
.product-reklam {
  display: block;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-product-line {
  display: flex;
  align-items: center;
  gap: 30px;
  @include laptop-min {
    align-items: start;
    gap: 20px;
  }
  @include tablet-min {
    gap: 10px;
  }
  &__gallery {
    @include flex-center;
    width: 240px;
    aspect-ratio: 1/1;
    border: 1px solid var(--gray-3);
    flex-shrink: 0;
    border-radius: 12px;
    transition: opacity 0.2s ease;

    @include hover {
      opacity: 0.7;
    }

    @include laptop-min {
      position: sticky;
      top: 20px;
    }
    @include tablet-min {
      width: 80px;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 30px;
    @include laptop-min {
      align-items: start;
      flex-direction: column;
      gap: 20px;
    }
    @include tablet-min {
      gap: 10px;
    }
  }
  &__info {
    flex: 1;
  }
  &__title {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }
    @include tablet-min {
      font-size: 16px;
      line-height: 125%;
    }
  }
  &__more {
    position: relative;
    display: block;
    width: fit-content;
    font-size: 13px;
    line-height: 154%;
    color: var(--primary);

    @include hover {
      &::before {
        opacity: 1;
      }
    }
    &::before {
      position: absolute;
      content: "";
      background-color: currentColor;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0;
      height: 1px;
      transition: opacity 0.2s ease;
    }
  }
  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    @include tablet-min {
      font-size: 16px;
      line-height: 125%;
    }
  }
  &__old-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    text-decoration: line-through;
    color: var(--gray-4);

    @include tablet-min {
      font-size: 13px;
      line-height: 123%;
    }
  }
  &__btn-like {
    @include flex-center;
    width: 60px;
    min-height: 48px;
    color: transparent;

    transition: color 0.2s ease;

    @include hover {
      svg {
        stroke: var(--pink);
      }
    }
    @include tablet-min {
      width: 40px;
      min-height: 40px;
    }

    &._active {
      color: var(--pink);
      svg {
        stroke: var(--pink);
      }
    }
    &._active-primary {
      color: var(--primary);
      svg {
        stroke: var(--primary);
      }
    }

    svg {
      width: 20px;
      height: 20px;
      stroke: var(--gray-4);

      transition: stroke 0.2s ease;
    }
  }
}

.product-reklam-line {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  height: 240px;

  @include tablet {
    height: 200px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
