.card-video-review {
  @include flex-center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
  aspect-ratio: 1/0.55;
  &__btn {
    position: absolute;
    width: 95px;
   
    transition: transform .2s ease;

    @include hover {
      transform: scale(1.07);
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}