.form-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 535px;
  max-width: 100%;

  @include laptop {
    width: 400px;
  }
  @include laptop-middle {
    width: 300px;
  }
  @include laptop-min {
    width: 100%;
  }

  .input {
    padding-right: 90px;
    @include tablet {
      padding-right: 70px;
    }
  }

  .btn-rect {
    position: absolute;
    right: 4px;
  }

  &._search {
    .form-search__clear {
      display: block;
    }
  }

  &__clear {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 60px;
    width: 24px;
    height: 24px;
    color: var(--gray-4);
    cursor: pointer;

    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }
    @include pressed {
      color: var(--black);
    }

    @include tablet {
      width: 16px;
      height: 16px;
      right: 50px;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
