.input-control {
}
.label-input {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 8px;
  @include tablet {
    font-size: 13px;
    line-height: 154%;
    margin-bottom: 5px;
  }
}
.input {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid var(--gray-3);
  outline: 2px solid transparent;
  width: 100%;

  font-size: 16px;
  line-height: 175%;

  transition: outline-color 0.2s ease;

  &::placeholder {
    color: var(--gray-4);
  }
  &:focus {
    outline-color: var(--primary);
  }

  &._error {
    outline-color: var(--red);
  }

  @include tablet {
    padding: 10px;

    line-height: 143%;
  }

  &._min {
    padding: 10px;

    font-size: 14px;
    line-height: 143%;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}
textarea.input {
  resize: none;
}
select.input {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }

  background: url('@img/arrow-down.svg') center right 20px / 24px auto no-repeat;
}

.form-footer {
  @include flex-between;
  margin-top: 20px;
  gap: 20px;
  @include tablet {
    margin-top: 10px;
  }
  @include tablet-min {
    flex-wrap: wrap;

    .btn-s {
      width: 100%;
    }
  }
}
.form-policy-input {
  &:checked + label {
    &::before {
      border-color: var(--primary);
      background: url("@img/check-primary.svg") center / 10px 10px no-repeat;
    }
  }
}
.form-policy-label {
  cursor: pointer;
  display: flex;
  font-size: 13px;
  line-height: 154%;
  gap: 10px;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-top: 2px;
    border-radius: 2px;
    border: 1px solid var(--gray-3);
    flex-shrink: 0;
  }

  a {
    color: var(--primary);
    @include hover {
      text-decoration: underline;
    }
  }
}

.input-check {
  display: none;
  &:checked + label {
    &::before {
      border-color: var(--primary);
      background: url("@img/check-primary.svg") center / 10px 10px no-repeat;
    }
  }
}
.label-check {
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 10px 0px;

  font-weight: 500;
  font-size: 14px;
  line-height: 143%;

  transition: color 0.2s ease;
  @include hover {
    color: var(--primary);
  }

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-top: 2px;
    border-radius: 2px;
    border: 1px solid var(--gray-3);
    flex-shrink: 0;
  }
}

.input-radio {
  display: none;

  &:checked + label {
    &::before {
      border-color: var(--pink);
    }
    &::after {
      opacity: 1;
    }
  }
}
.label-radio {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 0px;

  font-size: 16px;
  line-height: 175%;
  transition: color 0.2s ease;

  @include hover {
    color: var(--primary);
  }
  @include pressed {
    color: var(--primary-hover);
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--gray-3);

    transition: border-color 0.2s ease;
  }
  &::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--pink);
    left: 5px;
    opacity: 0;

    transition: opacity 0.2s ease;
  }
}

.input-control-counter {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  background-color: white;
  border: 1px solid var(--gray-3);
  border-radius: 8px;

  .input-simple {
    text-align: center;
    flex: 1;
    width: 100%;
  }
}
.input-counter {
  @include flex-center;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: var(--gray-4);
  transition: color 0.2s ease;

  @include hover {
    color: var(--primary);
  }

  &._disable {
    pointer-events: none;
    color: var(--gray-3);
  }

  &._minus {
    &::after {
      display: none;
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    border-radius: 3px;
    background-color: currentColor;
  }
  &::after {
    transform: rotate(90deg);
  }
}
.input-simple {
  border: none;
  font-size: 16px;
  line-height: 175%;
  padding: 0;
  outline: none;
  background-color: transparent;

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}
