.catalog {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 130px;
  z-index: 100;
  background-color: white;

  opacity: 0;
  transform: translateY(30px);
  visibility: hidden;

  transition: opacity .4s ease, visibility .4s ease, transform .4s ease;

  &._open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__wrapper {
    display: flex;
    height: 100%;
  }
  &__menu {
    height: 100%;
    width: 355px;
    max-width: 100%;
    overflow-y: auto;
    flex-shrink: 0;
    background-color: var(--gray-1);
  }
  &__menu-btn {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;

    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    transition: background-color 0.2s ease;

    @include hover {
      background-color: white;
    }

    &._active {
      background-color: white;
      pointer-events: none;
      &::after {
        top: 0;
      }
    }

    &::after {
      position: absolute;
      content: "";
      top: 100%;
      right: 0;
      bottom: 0;
      width: 2px;
      background-color: var(--primary);

      transition: top 0.2s ease;
    }

    img {
      flex-shrink: 0;
    }
  }
  &__body {
    height: 100%;
    overflow-y: auto;
    flex: 1;
    padding: 30px 40px;
    @include laptop-middle {
      padding: 25px;
    }
  }
  &__body-inside {
    max-width: 1135px;
  }
  &__brand-btn {
    @include flex-center;
    width: 120px;
    height: 90px;
  }
  &__categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__btn-more {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 24px;
    margin-top: 20px;
    width: fit-content;

    color: var(--primary);

    transition: color .2s ease;

    @include hover {
      color: var(--black);
    }
    
    svg {
      width: 20px;
      height: 20px;
    }
  }
}