.filters {
  width: 305px;
  flex-shrink: 0;
  &__body {
    width: 100%;
  }
  &__item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 0px;
    min-height: 50px;
    border-bottom: 1px solid var(--gray-3);
    width: 100%;

    font-weight: 600;
    font-size: 14px;
    line-height: 143%;

    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }

    &._spoller-active {
      svg {
        transform: rotate(0);
      }
    }

    svg {
      width: 16px;
      height: 16px;
      transform: rotate(180deg);

      transition: transform 0.2s ease;
    }
    div {
      @include flex-center;
      width: 24px;
      height: 24px;
      background-color: var(--primary);
      border-radius: 50%;
      margin-left: auto;

      color: white;
      text-align: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 167%;
    }
  }
  &__spoller {
    padding: 10px 0px;
    .form-search {
      margin-bottom: 10px;
    }
  }
  &__scroll {
    max-height: 250px;
    overflow-y: auto;
  }
}
